<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/comments.css">
    <title>Comments</title>
</head>
<body>

    <nav>
        <h2> <%= user.userName %> Comments</h2>
        
        <ul>
          <li class="header"><a href="/profile"> Profile </a></li>
          <li class="header"><a href="/logout"> Logout </a></li>
          <li class="header"><a href="/feed"> Feed </a></li>
        </ul>
    </nav>


        
    <div class="container">
      <div>                   
        <h1> <%= user.userName %></h1>
          <p class="story"> <%= story.story %> </p>   
          <span> <%= story.createdAt %> </span>
      </div>
    </div>
        



      <div class="container">
        
       
        
        <h3 class="col-3">Likes: <%= comment.likes %></h3>


      
      </div>
      
      <form action="/post/createComment" method="POST" class="commentSection">
          <input type="hidden" value="<%= story._id %>" name="storyId">
          <input type="hidden" value="" name="user">
          <textarea type="text" class="form-control" id="title" name="comment"></textarea>
          <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
      </form>
        
        


     

      
      <div>
        <ul class="column">
          <% for(var i=0; i<comment.length; i++) {%>
            <li class="comment">
              <h1> <%= comment[i].userName %> comment</h1>
              <p class="comments"> <%= comment[i].comment %> </p>
              <span> <%= comment[i].createdAt %> </span>

              <%if(comment[i].user.equals(user._id)){ %>
                <form action="/post/deletePost/<%= comment[i]._id%>?_method=DELETE" method="POST" class="col-3">  
                  <button class="btn btn-primary fa fa-trash" type="submit"></button>
                </form>
                <%}%>
              
             
              
             

            </li>
          <% } %>
        </ul>

      


      </div>  
    
</body>
</html>